*{
    background-image: url("https://st2.depositphotos.com/1592314/9606/i/950/depositphotos_96063522-stock-photo-shiny-silver-background-abstract-texture.jpg");
    background-color: #54a1ce;
   }

#crystalCol{
    background: orange;
    float:left;
    padding:20px;
    color:white;
}

#instructions{
    margin:2px;
    float:left;
    font-family: Arial;
    background: beige;
    color:teal;
    float:left;
}
#goal{
    padding: 60px;
    color: purple;
    background: lightseagreen;
}
#winsLose{
    margin-left:10px;
    padding:50px;
    color:purple;
    background: skyblue;


}
#crystals{
    padding:10%;
}